.App-header {
    background-color: transparentize($mainColor,0.1);
    color: white;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 2px transparentize(#000, 0.6);
    position:fixed;
    z-index:999;
    top:0;
    width:100vw;
    box-sizing:border-box;
    transition:all 300ms;

    // &:hover{background-color:$mainColor;}
}

.App-title { 
    font-size: 1.5em;
}

.header__nav {
    ul {
        display: flex;
        li {
            list-style: none;
            padding: 0.5em 1em;



            &.outline{
              border:2px solid;
              margin-left:0.5em;
              border-radius:5px; 
              transition:all 300ms;
              &:hover{background:#fff; color:$mainColor; border-color:#fff;}
            }

            a{color:inherit;text-decoration: none;}
        }
    }
}