.map{
	background: $blue;
}

.pin{
	cursor:pointer;
	transform-origin: bottom center;
	transition:all 300ms;
	svg{
	transform-origin: bottom center;
		
	}
	&:hover{
		svg{color:$mainColor;} 
		transform: scale(1.2);
	}
	&:active{
		svg{color:darken($mainColor, 10);}
	}
}

